<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">

            <ul class="nav nav-pills  nav-pills-icons justify-content-center " id="pills-tab" role="tablist">
              <li class="nav-item ">
                <a class="nav-link  active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">
                  <i class="material-icons center "> info_outline</i> Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">
                  <i class="material-icons center "> arrow_drop_down_circle</i> Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">
                  <i class="material-icons center "> table_rows</i>Contact</a>
              </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
              <!-- <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">home</div>
              <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">profile</div> -->
              <!-- example-large-box mat-elevation-z4 -->
              <div class=" tab-pane fade show active card" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" >
                <div class="card-header">head1</div>
                <div class="card-body">Home</div>
              </div>
              <div class=" tab-pane fade card" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" >
                <div class="card-header">head2</div>
                <div class="card-body">Profile</div>
              </div>
              <div class=" tab-pane fade card" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" >
                <div class="card-header">head3</div>
                <div class="card-body">Contact</div>
              </div>
            </div>
            </div>
            </div>
  </div>
  </div>
  


